* {
  box-sizing: border-box;
}

body {
  font-size: 1.25rem;
  font-family: sans-serif;
  margin: 2rem;
  overflow-x: hidden;
}

table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
}

table td,
table th {
  padding: .5rem 1rem;
}

table tr:nth-child(even) {
  background-color: #f8f8ff;
}

h2,
p {
  margin-left: 1rem;
}

h2 {
  border-top: 6px solid #f8f8ff;
  padding-top: 1rem;
}

#pagamento,
#status {
  border-top: 3px solid #f8f8ff;
}